body {
	background-color: white; 
}

#content-input-container {
	position:relative;
	left:0px;

}

#add-post-button {
	position:relative;
	margin-top:10%;
	background-color:yellow;
	height:40px;
	width:100px;
}

.output {
	position:relative;
	text-align: left;
	margin-left: 3px;
	background-color: white; 
}

.content-of-post-in-modal {
	position:relative;
	margin-left:10px;
}

.title-output {
	position:relative;
	left:-1.8%;
}

.list-of-comments-title{
	position:relative;
	margin-left:10px;
}

.comments-list {
	position:relative;
	margin-left:10px;
}
.content-output {
	position:relative;
	left:-1%;
}