body {
	background-color: white; /*#FAEBD7;*/ /*#7FFFD4;*/ /*#90EE90;*/ /*#66CDAA; */
	/*background-image:url('http://vignette3.wikia.nocookie.net/lego/images/1/11/Watermelon_Cartoon.png/revision/latest?cb=20120819040222');*/
	/*background-size:500px 500px;*/
}

#content-input-container {
	position:relative;
	left:0px;

}

#add-post-button {
	position:relative;
	margin-top:10%;
	background-color:yellow;
	height:40px;
	width:100px;
}

.output {
	position:relative;
	text-align: left;
	margin-left: 3px;
	background-color: white; /*#cce5ff;*/
}

.title-output {
	position:relative;
	left:-1.8%;
}

.content-output {
	position:relative;
	left:-1%;
}